head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Full-stack MySQL-Node.js-Express app
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(rel='stylesheet' type='text/css' media='screen,projection' href='https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css')
  link(rel='stylesheet' type='text/css' media='screen,projection' href='/css/main.css')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Alegreya+Sans|Andika|Anonymous+Pro|Arimo|Arsenal|Comfortaa|Cousine|Exo+2|Fira+Code|Fira+Mono|Fira+Sans|Forum|IBM+Plex+Sans|Inter|Jura|Lora|M+PLUS+1p|Manrope|Merriweather|Montserra|Noto+Sans|Open+Sans|PT+Mono|PT+Sans|PT+Serif|Play|Scada|Source+Sans+Pro|Spectral|Tinos|Ubuntu|Ubuntu+Condensed|Ubuntu+Mono' rel='stylesheet')
