head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Full-stack MySQL-Node.js-Express app
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(rel='stylesheet' type='text/css' media='screen,projection' href='https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css')
  link(rel='stylesheet' type='text/css' media='screen,projection' href='/css/main.css')