include heroform

doctype html
html(lang='en')
  include head
  body
    include header
    h1 Edit hero
    hr.gold
    +heroform(`/heroes/${data._id}`, 'post', data)
    script(src='/js/updHero.js')
