doctype html
html(lang='en')
  include head
  body
    include header
    h1 Heroes
    hr.gold
    a(href="/heroes/new") 
      button#Add_Hero Add new
    if data
      each _ in data
        .line
          a(href=`/heroes/${_._id}`)
            h3=_.name
          form(action="/heroes/del" method="post")
            input.hidden(type='text' name='_id' value=_._id)
            button(type='submit')
              i.material-icons close