doctype html
html(lang='en')
  include head
  body
    include header
    h1 Main
    hr.gold
    p
      i Важно только важное, а все остальное не важно, - и это самое важное.
    p
      | Данное приложение использует Node.js в связке с СУБД MySQL. Кроме того, в приложении используется фреймворк express, шаблонизатор pug, google fonts, water.css, препроцессор sass.
    p 
      | Есть возможность создавать, открывать, редактировать и удалять записи.
    p 
      | К базе данных MySQL можно подключиться также через специальные программы, такие как PhpMyAdmin или DBeaver.
    p
      | Используемый пакет mysql найболее близок к нативному SQL и использует его команды. Промисы не поддерживает, и использует колбэки. Хороший проект для понимания основ, но в дальнейшем лучше использовать другие ORM.
    p 
      | Сначала нужно создать БД, с помощью вышеупомянутых программ. При создании новой записи сначала идет проверка, существует ли таблица. Если ее не существует, то она сначала создается. 
    #Banners
      h3 
        | Используемые технологии
      ul
        li 
          img(src="mysql.png", alt="")
        li 
          img(src="node.png", alt="")
        li 
          img(src="express.png", alt="")
        li 
          img(src="pug.png", alt="")
        li 
          img(src="sass.png", alt="")        
